/* Below line is url to use Google font online */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
background-color: #464745;
}
body{
background-color: #abf15f;
margin-top: -10px;
margin-right: 685px;
}
div#m1{
width:500px;
height:700px;
margin:30px;
font-family: 'Roboto', sans-serif;
}
div#contact_form{
text-align:center;
border:3px solid #354a04;
width:300px;
padding:0 50px 30px 30px;
margin-top:10px;
margin-bottom: 0px;
box-shadow:0 0 0;
border-radius:10px;
float:left;
}
#m1 h3{
margin:5px;
}
hr{
margin-top:2px;
}
label{
float:left;
font-size:18px;
color:#354a04
}
input[type="text"]{
width:100%;
margin-top:10px;
height:35px;
margin-bottom:25px;
padding:10px;
border:0px solid #ffffff;
border-radius: 10px;
}
textarea{
width:100%;
border:0px solid #ffffff;
border-radius: 10px;
padding:10px;
margin-bottom:25px;
margin-top:10px;
height:100px;
resize:none
}
input[type="Submit"]{
width:325px;
padding:10px 45px;
background-color:#ffffff;
border: 3px solid #ffffff;
border-radius: 10px;
color:#354a04;
font-size: 18px;
font-weight:700;
cursor:pointer;
font-family: 'Roboto', sans-serif;
}
